In [1]:
import pandas as pd

movies = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t')

In [2]:
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [3]:
movies_test = movies.copy()

In [95]:
import numpy as np
mask = movies['genres'].str.contains(r'Musical', na=True)
musical_movies = movies[mask]

In [100]:
len(musical_movies)

56101

In [80]:
movies_test2['genres'] = movies_test2['genres'].replace('')
#musical_movies = movies[movies.genres.str.contains('Musical')]
#musical_movies
movies_test

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,None
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,None
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,None
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,None
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,None
...,...,...,...,...,...,...,...,...,...
7212671,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,None
7212672,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,None
7212673,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,None
7212674,tt9916856,short,The Wind,The Wind,0,2015,\N,27,None
7212675,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,None

In [50]:
ismusical_list = []

for i in range(0,len(movies['genres'])):
    ismusical = "Musical" in movies['genres'][i]
    ismusical_list.append(ismusical)
    
print(ismusical_list)

TypeError: argument of type 'float' is not iterable

In [34]:
musical

False

In [18]:
len(musical_movies)

8853

In [102]:
musical_movies = musical_movies[isamovie]

In [103]:
len(musical_movies)

11545

In [109]:
broadway_musicals = pd.read_csv('synopses.csv')

In [178]:
#establishes a like titled column for primaryTitle

broadway_musicals.columns=['show','synopsis','primaryTitle']
broadway_musicals

,show,synopsis,primaryTitle
0,42nd Street,"A chorus girl from Allentown, PA, steps into t...",42nd Street
1,A Chorus Line,Broadway gypsies bare their souls and put thei...,A Chorus Line
2,Aren't We All?,English nobility seek out marriage proposals —...,Aren't We All?
3,Arms and the Man,NaN,Arms and the Man
4,As Is,NaN,As Is
...,...,...,...
1117,My Name is Lucy Barton,"Unsteady after an operation, Lucy Barton wakes...",My Name is Lucy Barton
1118,Girl From the North Country,1934. A time-weathered guesthouse in the heart...,Girl From the North Country
1119,SIX: The Musical,NaN,SIX: The Musical
1120,Hangmen,Olivier and Academy Award-winning writer Marti...,Hangmen
1121,The Minutes,NaN,The Minutes

In [234]:
#merges movie and Broadway League dataset
merge = pd.merge(movies, broadway_musicals, on='primaryTitle',how='inner')

In [235]:
#creates a mask for movies and tvMovies only
isamovie = (merge['titleType'] == 'movie') | (merge['titleType'] == 'tvMovie')
new_merge = merge[isamovie]

In [236]:
#removes duplicates from new 
new_merge = new_merge.drop_duplicates(subset=['primaryTitle'], keep='last')

In [237]:
new_merge.to_csv('new_merge.csv')

In [238]:
len(new_merge)

641

In [239]:
movies.loc[movies['primaryTitle']=='The Last Five Years']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
3842261,tt2474024,movie,The Last Five Years,The Last Five Years,0,2014,\N,94,"Comedy,Drama,Musical"
4882944,tt4871148,tvEpisode,The Last Five Years,The Last Five Years,0,2016,\N,\N,"Comedy,Drama,Romance"

In [241]:
broadway_musicals.loc[broadway_musicals['primaryTitle']=='The Last 5 Years']

Empty DataFrame
Columns: [show, synopsis, primaryTitle]
Index: []

In [225]:
new_merge.loc[new_merge['originalTitle']=='42nd Street']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,show,synopsis
2851,tt0024034,movie,42nd Street,42nd Street,0,1933,\N,89,"Comedy,Musical,Romance",42nd Street,"A chorus girl from Allentown, PA, steps into t..."